@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-chumbo: var(--theme-bg);
  --color-azul: #0055FF;
  --color-neon: var(--theme-neon);
  --color-branco: var(--theme-text);
}

:root {
  --theme-bg: #f0f4f8;
  --theme-text: #0A1118;
  --theme-neon: #0055FF;
}

.dark {
  --theme-bg: #0A1118;
  --theme-text: #FFFFFF;
  --theme-neon: #CCFF00;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

::selection {
  background-color: var(--theme-neon);
  color: var(--theme-bg);
}

.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}